@font-face {
    font-family: AudiTEBold;
    src: url("/fonts/AudiTEBold/AudiType-ExtendedBold.eot?") format("eot"), url("/fonts/AudiTEBold/AudiType-ExtendedBold.woff2") format("woff2"), url("/fonts/AudiTEBold/AudiType-ExtendedBold.woff") format("woff"), url("/fonts/AudiTEBold/AudiType-ExtendedBold.ttf") format("truetype"), url("/fonts/AudiTEBold/AudiType-ExtendedBold.svg#AudiTEBold") format("svg")
}

@font-face {
    font-family: AudiTENormal;
    src: url("/fonts/AudiTENormal/AudiType-ExtendedNormal.eot?") format("eot"), url("/fonts/AudiTENormal/AudiType-ExtendedNormal.woff2") format("woff2"), url("/fonts/AudiTENormal/AudiType-ExtendedNormal.woff") format("woff"), url("/fonts/AudiTENormal/AudiType-ExtendedNormal.ttf") format("truetype"), url("/fonts/AudiTENormal/AudiType-ExtendedNormal.svg#AudiTENormal") format("svg")
}

@font-face {
    font-family: AudiTNormal;
    src: url("/fonts/AudiTNormal/AudiType-Normal.eot?") format("eot"), url("/fonts/AudiTNormal/AudiType-Normal.woff2") format("woff2"), url("/fonts/AudiTNormal/AudiType-Normal.woff") format("woff"), url("/fonts/AudiTNormal/AudiType-Normal.ttf") format("truetype"), url("/fonts/AudiTNormal/AudiType-Normal.svg#AudiTNormal") format("svg")
}
